/**, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
    background: #f6f9fa;
    color: #536d76;
    font-weight: 400;
    font-size: 1em;
    font-family: 'Raleway', Arial, sans-serif;
}*/

.principal_modules a {
    color: #4f7f90;
    text-decoration: none;
    outline: none;
}

.principal_modules a:hover, a:focus {
    color: #39545e;
}

.principal_modules section {
    padding: 1em;
    text-align: center;
}

/* Header */
.principal_modules .codrops-header {
    margin: 0 auto;
    padding: 4em 1em;
    text-align: center;
}

.principal_modules .codrops-header h1 {
    margin: 0;
    font-weight: 800;
    font-size: 4em;
    line-height: 1.3;
}

.principal_modules .codrops-header h1 span {
    display: block;
    padding: 0 0 0.6em 0.1em;
    font-size: 45%;
    font-weight: 300;
    color: #7e959d;
}

/* To Navigation Style */
.principal_modules .codrops-top {
    width: 100%;
    text-transform: uppercase;
    font-size: 0.69em;
    line-height: 2.2;
}

.principal_modules .codrops-top a {
    display: inline-block;
    padding: 0 1em;
    text-decoration: none;
    letter-spacing: 1px;
}

.principal_modules .codrops-top span.right {
    float: right;
}

.principal_modules .codrops-top span.right a {
    display: block;
    float: left;
}

.principal_modules .codrops-icon:before {
    margin: 0 4px;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-family: 'codropsicons';
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
}

.principal_modules .codrops-icon-drop:before {
    content: "\e001";
}

.principal_modules .codrops-icon-prev:before {
    content: "\e004";
}

/* Related demos */
.principal_modules .related {
    padding: 6em 1em;
    font-size: 120%;
}

.principal_modules .related > a {
    border: 1px solid #4f7f90;
    display: inline-block;
    text-align: center;
    margin: 20px 10px;
    padding: 25px;
}

.principal_modules .related a:hover {
    border-color: #39545e;
}

.principal_modules .related a img {
    max-width: 100%;
    opacity: 0.8;
}

.principal_modules .related a:hover img,
.principal_modules .related a:active img {
    opacity: 1;
}

.principal_modules .related a h3 {
    margin: 0;
    padding: 0.5em 0 0.3em;
    max-width: 300px;
    text-align: left;
}

@media screen and (max-width: 25em) {

    .principal_modules .codrops-header {
        font-size: 75%;
    }

    .principal_modules .codrops-icon span {
        display: none;
    }

}

.principal_modules .grid {
    overflow: hidden;
    margin: 0;
    padding: 3em 0 0 0;
    width: 100%;
    list-style: none;
    text-align: center;
}

/* Common style */
.principal_modules .grid figure {
    position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    margin: -0.135em;
    width: 33.333%;
    height: 400px;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
}

.principal_modules .grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    opacity: 0.8;
}

.principal_modules .grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.principal_modules .grid figure figcaption::before,
.principal_modules .grid figure figcaption::after {
    pointer-events: none;
}

.principal_modules .grid figure figcaption,
.principal_modules .grid figure a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.principal_modules .grid figure a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.principal_modules .grid figure h2 {
    word-spacing: -0.15em;
    
    font-weight: 300;
}

.principal_modules .grid figure h2 span {
    font-weight: 800;
}

.principal_modules .grid figure h2,
.principal_modules .grid figure p {
    margin: 0; 
}

.principal_modules.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}


/*---------------*/
/***** Oscar *****/
/*---------------*/

figure.effect-oscar {
    background: -webkit-linear-gradient(45deg, #22682a 0%, #9b4a1b 40%, #3a342a 100%);
    background: linear-gradient(45deg, #22682a 0%,#9b4a1b 40%,#3a342a 100%);
}

figure.effect-oscar img {
    opacity: 0.9;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.effect-oscar figcaption {
    padding: 3em;
    background-color: rgba(58,52,42,0.7);
    -webkit-transition: background-color 0.35s;
    transition: background-color 0.35s;
}

figure.effect-oscar figcaption::before {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    border: 1px solid #fff;
    content: '';
}

figure.effect-oscar h2 {
    margin: 20% 0 10px 0;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
}

figure.effect-oscar figcaption::before,
figure.effect-oscar p {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0);
    transform: scale(0);
}

figure.effect-oscar:hover h2 {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure.effect-oscar:hover figcaption::before,
figure.effect-oscar:hover p {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

figure.effect-oscar:hover figcaption {
    background-color: rgba(58,52,42,0);
}

figure.effect-oscar:hover img {
    opacity: 0.4;
}


}