/*.menu_nav_header{
	background: #15344e;
	color: black !important;
}
.home{
	background: #15344e !important;
	color: white !important;
}
.logoNav{
	margin: -4px 0px 0px 0px;
}
.page {
	color: white !important;
}
*/